.video {
    transition: 0.15s all;
    width: 400px;
    height: 200px;
    background: white;
    border-radius: 6px;
    position: relative;
    border: 1px solid rgba(67, 29, 173, 0.692);
    outline: none;
    z-index: 0;

    &-container {
        transition: 0.15s all;
        z-index: 1;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
        }
    }
}

@media screen and (max-width: 648px) {
    .video {
        width: 75vw;
        height: 35vh;
    }
}